{% extends 'partials/navbar.html' %}
{% load static %}
{% load django_bootstrap5 %} 
{% block app_content %}
    <div class="container">
        <br>
        <br>
        <br>
        <h1 class="text-center">Adicionar treino</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form id="Form" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <input type="submit" class="btn btn-success profile-button" value="Salvar">
            </div>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a onclick="history.back()" class="btn btn-danger">Voltar</a>
            </div>
        </form>
        <br>

    </div>
    <footer>
        <div class="container">
            <div class="text-center">
                <div class=" w-100  credits">
                    <p style="color: #B41F2F;">&copy; 2021-2021. Desenvolvimento de aprendizado</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
{% endblock %}