{% extends 'partials/navbar.html' %}
{% load static %}
{% load django_bootstrap5 %} 
{% block app_content %}
  <div class="container">
    <br>
    <br>
    <br>
    <h1 class="text-center">Treinos</h1>
    <br>
    <br>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Tipo do treino</th>
          <th scope="col">Região do treino</th>
          <th>Mais</th>
        </tr>
      </thead>
      <tbody>
        {% for treino in treinos %}
        <tr>
          <td>{{ treino.id }}</td>
          <td>{{ treino.nome }}</td>
          <td>{{ treino.tipo }}</td>
          <td>{{ treino.regiao }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Mais
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'editar_treinos' treino.id %}">Editar</a></li>
                <li><a class="dropdown-item" href="{% url 'excluir_treinos' treino.id %}">Excluir</a></li>
                <li><a class="dropdown-item" href="{% url 'listar_exercicios' treino.id %}">Ver exercicios</a></li>
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <a href="{% url 'adicionar_treinos' pk %}" class="btn btn-success">Novo treino</a>
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <a onclick="history.back()" class="btn btn-danger">Voltar</a>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %} 